<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmei.dao.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.dianmei.model.Goods">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="goods_id" jdbcType="INTEGER" property="id"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_type_id" jdbcType="INTEGER" property="goodsTypeId"/>
        <result column="bar_code" jdbcType="VARCHAR" property="barCode"/>
        <result column="brand_id" jdbcType="INTEGER" property="brandId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="goods_intro" jdbcType="VARCHAR" property="goodsIntro"/>
        <result column="goods_thumb" jdbcType="VARCHAR" property="goodsThumb"/>
        <result column="is_sale" jdbcType="BIT" property="isSale"/>
        <result column="is_book" jdbcType="BIT" property="isBook"/>
        <result column="min_Inventory" jdbcType="DECIMAL" property="minInventory"/>
        <result column="goods_unit" jdbcType="VARCHAR" property="goodsUnit"/>
        <result column="sub_number" jdbcType="INTEGER" property="subNumber"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="supply_days" jdbcType="INTEGER" property="supplyDays"/>
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
        <result column="book_price" jdbcType="DECIMAL" property="bookPrice"/>
        <result column="transport_price" jdbcType="DECIMAL" property="transportPrice"/>
        <result column="attribute_id" jdbcType="INTEGER" property="attributeId"/>
        <result column="sc_order_id" jdbcType="INTEGER" property="scOrderId"/>
        <result column="send_source_flag" jdbcType="TINYINT" property="sendSourceFlag"/>
        <result column="send_house_id" jdbcType="INTEGER" property="sendHouseId"/>
        <result column="send_supplier_id" jdbcType="INTEGER" property="sendSupplierId"/>
        <result column="goods_showImage" jdbcType="VARCHAR" property="goodsShowimage"/>
        <result column="goods_no" jdbcType="VARCHAR" property="goodsNo"/>
        <result column="store_price" jdbcType="DECIMAL" property="storePrice"/>
        <result column="sale_price" jdbcType="DECIMAL" property="salePrice"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="start_code" jdbcType="VARCHAR" property="startCode"/>
        <result column="end_code" jdbcType="VARCHAR" property="endCode"/>
        <result column="batch_no" jdbcType="VARCHAR" property="batchNo"/>
        <result column="is_card" jdbcType="INTEGER" property="isCard"/>
        <result column="percolate_type" jdbcType="INTEGER" property="percolateType"/>
        <result column="percolate_num" jdbcType="VARCHAR" property="percolateNum"/>
        <result column="goods_status" jdbcType="INTEGER" property="goodsStatus"/>
        <result column="goods_show_image" jdbcType="VARCHAR" property="goodsShowImage"/>
    </resultMap>

    <resultMap id="goodsTableMap" type="com.dianmei.model.Goods" extends="BaseResultMap">
        <result column="supplier_name" jdbcType="VARCHAR" property="supplierName"/>
        <result column="storage_name" jdbcType="VARCHAR" property="storageName"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="attribute_name" jdbcType="VARCHAR" property="attributeName"/>
    </resultMap>

    <!-- 查询产品基础查询(多表联合查询) -->
    <select id="selectGoods" resultMap="goodsTableMap">
        SELECT
	      goods.*,
	      company.COMPANYNAME AS supplier_name,
	      brand.BRANDNAME AS brand_name,
	      storages.house_name AS storage_name,
	      dictionary.NAME AS attribute_name
        FROM
    	  sc_goods AS goods
        LEFT JOIN bm_company AS company ON goods.send_supplier_id = company.COMPANYID
        LEFT JOIN bm_brand AS brand ON brand.BRANDID = goods.brand_id
        LEFT JOIN sc_storage AS storages ON storages.house_id = goods.send_house_id
        LEFT JOIN mm_dictionary AS dictionary  ON dictionary.ID = goods.attribute_id
        <where>
            <if test="goodsNo != null">
                <bind name="goodsNoPattern" value="'%' + goodsNo + '%'" />
                goods.goods_no LIKE #{goodsNoPattern}
            </if>
            <if test="goodsName != null">
                <bind name="goodsNamePattern" value="'%' + goodsName + '%'" />
                AND goods.goods_name LIKE #{goodsNamePattern}
            </if>
            <if test="barCode != null">
                <bind name="barCodePattern" value="'%' + barCode + '%'" />
                AND goods.bar_code LIKE #{barCodePattern}
            </if>
            <if test="brandCode != null">
                <bind name="brandCodePattern" value="'%' + brandCode + '%'" />
                AND (brand.CODE LIKE #{brandCodePattern} OR brand.BRANDNAME LIKE #{brandCodePattern})
            </if>
            <if test="isBook != null">
                AND goods.is_book = #{isBook}
            </if>
            <if test="isSale != null">
                AND goods.is_sale = #{isSale}
            </if>
            <if test="storageCode != null">
                <bind name="storageCodePattern" value="'%' + storageCode + '%'" />
                AND (storage.house_no LIKE #{storageCodePattern} OR storage.house_name LIKE #{storageCodePattern})
            </if>
            <if test="supplierCode != null">
                <bind name="supplierCodePattern" value="'%' + supplierCode + '%'" />
                AND (company.NUMBER LIKE #{supplierCodePattern} OR company.COMPANYNAME LIKE #{supplierCodePattern})
            </if>
            <if test="isCard != null">
                AND goods.is_card = #{isCard}
            </if>
        </where>
    </select>

</mapper>