<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianmei.dao.UserPermissionMapper">
  <resultMap id="BaseResultMap" type="com.dianmei.model.UserPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="rank_id" jdbcType="INTEGER" property="rankId" />
    <result column="p_start_date" jdbcType="TIMESTAMP" property="pStartDate" />
    <result column="p_end_date" jdbcType="TIMESTAMP" property="pEndDate" />
  </resultMap>
</mapper>